<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>刺客系统</title>
    <link href="../static/dw1.css" rel="stylesheet"/>

</head>

<body class="body1">
	<div class="content">
    	<h1 class="yy">
        	运营平台
        </h1> 
        <h2 class="zh">账号
        <input type="text" class="zhin" name="zhanghao"/>
        </h2>  
        <h2 class="mm">密码
         <input type="text" class="mmin"name="mima"/>
        </h2>

        <p>
             <button type="button"class="dl" onclick="nide()" id="1" >登录</button>
             <button type="button"class="zc" onclick="wode()" id="2">注册</button>
        </p>
        <script>
            function wode() {
                window.open('two')
            }
            function nide() {
                window.open('three')
            }
        </script>

    </div>

</body>
</html>
