<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>刺客系统</title>
    <link rel="stylesheet" href="../static/dw1.css">
</head>
<div class="page2">
    <div class="toppass">
        <h1 class="biaoti2">
            选择大于努力三足鼎立
        </h1>
    </div>
    <div class="body2">
        <div class="Carousel">
            <img src="../static/bg1.jpg">
        </div>
        <div >
            <img src="../static/bg2.jpg">
        </div>
        <img src="../static/bg3.jpg">
    </div>
    <div class="bottom">

            <div class="bottomtitle">
                为你解答
            </div>
            <div class="bottombody">
                <ul>
                <Li class="b1">
                    <b>bar</b>
                    <span>点击了解</span>
                </Li>
                <li class="b2">
                    <b>music</b>
                    <span>点击了解</span>
                </li>
                <li class="b3">
                    <b>movie</b>
                    <span>点击了解</span>
                </li>
                </ul>
            </div>
    </div>

</div>
</html>
<script>
    function Allregions() {
        window.open()
        
    }
</script>